footer {display: none}
[data-testid="stToolbarActions"] {display: none}
[data-testid="stMainMenu"] {display: none}

.stMainBlockContainer {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.stSidebar {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}


.stPlotlyChart {
    padding-top: 0% !important;
    margin-top: 0% !important;
}
